*{
  box-sizing: border-box;
}

html{
  font-family: sans-serif;
  background: #403773;
}

a{
  text-decoration: NONE;
}

.inline-block{
  display: inline-block;
}
/*          -----Navbar---                    */

header{
  background: #4141a1;
  padding: 10px 20px 10px 20px;

}

.nav-item, .nav-item ul li,
.nav-item .quick-options, .nav-item a{
  color: whitesmoke;
  display: inline-block;
  font-family: sans-serif;
  text-decoration: none;
}

header .logo-area{
  width: 20%;
  margin-left: -4px;
  font-size: 26px;
  justify-content: center;
}

header .menu-links{
  margin-left: -4px;
  width: 20%;
  border-right: 1px white solid;
  text-align: right;
  font-size: 14px;
  padding-right: 15px;
}

header .menu-links a{
  margin-right: 10px;
  margin-left: 10px;

}

header .icon-links{
 width: 20%;
 margin-left: -4px;
 padding-left: 20px;

}

header .icon-links .privacy{
  padding-left: 20px;
  color: red;
}

header .icon-links a{
  padding-left: 5px;
  padding-right: 5px;
}

header .search-area{
  width: 40%;
  margin-left: -4px;
  text-align: right;
}

header .quick-options{
  padding-right: 20px;
  border-right: 1px white solid;
}

/* Navbar End */
/* Content*/
#profile-banner{
  padding: 200px 15px 90px 15px;
  background-image: linear-gradient(to top right, #00004c5c, #a1f0a133), url(https://png.pngtree.com/thumb_back/fw800/back_pic/03/83/19/0557c8d910073a3.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: inherit;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  box-shadow: 10px 10px 0px black;
}

#profile-banner .profile-info .user-img{
    padding: 10px;
    display: inline-block;
}

#profile-banner .profile-info .user-img img{
  border: 2px solid black;
  border-radius: 50%;
  padding: 1px;
  box-shadow: 0px 0px 10px black;
}

#profile-banner .profile-info .user-details{
  display: inline-block;
  position: absolute;
  top: 55%;
}

#profile-banner .profile-info .user-details h3{
  color: white;
  font-size: 30px;
  font-weight: 100;
  text-shadow: 0px 0px 1px white;
  margin-bottom: 20px;
}

#profile-banner .profile-info .user-details a{
  color: white;
  padding: 10px;
  margin-right: 10px;
  background: rgba(155, 155, 155, 0.8);
  font-weight: 100;
  text-shadow: 0px 0px 1px white;
  transition: background ease-in .3s;
  border: 1px solid black;
  box-shadow: 1px 1px 1px black;
}

#profile-banner .profile-info .user-details a:hover{
  background: rgba(65, 65, 161, 0.7);
  padding: 12px;
  margin-left: -2px;
  margin-right: 8px;
  box-shadow: 2px 4px 10px black;
}

/* end Content*/

#content-area .side-column{
  width: 20%;
  margin: 0 2.5%;
  float: left;
}

#content-area .intro{
margin-top: 30px;
}

.side-column .head{
  margin:  5px 0 0 5px;
}

.side-column .widget-title{
  display: inline-block;
  color: #141414;
  font-weight: 700;
}

.side-column .body{
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(3, minmax(100px, 300px));
  margin: 5px;
}

.side-column .body .preview-photo{
  height: 100%;
  width: 100%;
}

.preview-photo img{
  height: inherit;
  width: inherit;
  border: 1px solid black;
  box-shadow: 0 0 1px black;
}

#content-area .main-column{
  width: 50%;
  float: left;
  height: 600px;
  margin: 0 0 0 0;
}

#content-area{
  background: #FAFAFA;
}

#content-area .widget-box{
  background: rgb(219, 219, 236);
  border-radius: 2px;
  box-shadow: 0px 9px 18px 0px #0000007d;
  border: 1px solid #423b3b;
  margin-bottom: 30px;
  overflow: hidden;
}

#content-area .widget-img{
  background: #80808047;
      box-shadow: -1px -1px 1px 1px #7a7474;
      box-sizing: content-box;
      margin: 5px;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
}

#content-area .widget-img i{
  color: white;
  text-shadow: 1px 1px black;
}

.main-column .menu{
  background: transparent;
  border-radius: 2px;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
bottom: 7.5%;

}

.main-column .menu ul{
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 2fr 2fr 1fr;
  align-items: center;
}

.main-column .menu ul .menu-btn{
  padding: 20px 0 20px 0;
  text-align: center;
  box-shadow: inset 0px -8px 1px 0px black;
  color: navajowhite;
  background: #4141a1;
  border-radius: 1px;

}

.main-column .menu ul li:nth-child(2){
  border-radius: 5px 0px 0px 5px;
}

.main-column .menu ul li:nth-child(6){
  border-radius: 0px 5px 5px 0px;
}

.main-column .menu ul li:nth-child(2):active{
  box-shadow: inset -4px -1px 7px 0px #000000b8;
}

.main-column .menu ul li:nth-child(6):active{
  box-shadow: inset 4px -1px 10px 0px #000000b8;

}

.main-column .menu ul li:active{
  box-shadow: inset -3px -1px 6px 0px #00000091, inset 3px -1px 9px 0px #000000a6;
  cursor: pointer;
}

.main-column .menu ul li:hover{
  cursor: pointer;
}

.main-column .menu ul li:hover .text {
    transform: scale(1.1, 1.1);
}

.main-column .menu ul li:hover .text i{
    text-shadow: 0 0 7px #ffffff57;
}

.main-column .menu ul li:active .text{
    transform: scale(.95, .95);
    text-shadow: 0 0 0px #fffefe, 0 0 1px #ffffff;
}

.main-column .timeline{
  margin-top: -30px;
}

.main-column .menu-btn i{
  padding-bottom: 10px;
  font-size: 20px;
}

.main-column .widget-title {
    display: inline-block;
    color: #141414;
    font-weight: 700;
}


.main-column .widget-box .widget-img img{
    height: inherit;
    border-radius: inherit;
}

.main-column .widget-box .post{
  display: inline-block;
  margin: 10px 0px 5px 10px;
}

.main-column .widget-box .post-info{
  margin-bottom: 3px;
}

.main-column .widget-box .post-date{
  font-size: 12px;
  margin-left: 5px;
  color: grey;
}

.main-column .widget-box .widget-img{
    display: inline;
    float: left;
}

.main-column .widget-box .inline-block{
  display: inline;
  float: left;

}

.main-column .widget-box{
  padding: 10px 0px 10px 10px;
}
